<main>
    <h1 id="welcome-profile">Welcome, {{currUser.name}}</h1>
    <div id="user-info">
        <p>Library card number: {{currUser.libraryCardNumber}} </p>
        <p>|</p>
        <p>Phone number: {{currUser.phoneNumber}} </p>
    </div>

    {{#if borrowedBooks}}
    {{#each borrowedBooks}}
    <form action="/return/{{this._id}}" method="get">
        <div class="book-row-home">
            <img src="{{this.image}}" alt="{{this.title}}" />
            <div class="book-details-home">
                <p class="title-home">{{this.title}}</p>
                <p class="author-home">by {{this.author}}</p>
                <button type="submit" class="btn-home">RETURN NOW</button>
            </div>
        </div>
    </form>
    {{/each}}
    {{else}}
    <p id="no-books-msg">
        You have no books checked out.
        <a href="/">Go borrow some books.</a>    
    </p>
    {{/if}}
</main>